@charset "UTF-8";

.top-link-wrap {
    font-size: 13px;
    font-weight: 300;
    height: 36px;
    line-height: 36px;
    border-bottom: 0;
    background: #eeeeee;
    position: relative;
    letter-spacing: -0.5px;
}

#header .inner {
    width: 1200px;
    margin: 0 auto;
    clear: both;
}

.top-link-wrap .top-left {
    float: left;
}

.top-link-wrap .top-left > span.on {
    background: #1F2532;
}

.top-link-wrap .top-left > span {
    color: #fff;
    display: inline-block;
    padding: 0 35px;
}

#header a, #footer a {
    -khtml-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.top-link-wrap .top-link > ul > li .count {
    display: inline-block;
    color: #fff;
    background: #636363;
    font-size: 11px;
    padding: 0px 5.5px 0 5px;
    border-radius: 10px;
    margin-left: 3px;
    vertical-align: 1px;
}

.top-link-wrap .top-link > ul > li {
    float: left;
    position: relative;
    padding: 0 10px;
    
}

li {
    list-style: none;
}


.top-link-wrap .top-link > ul > li a {
    color: #636363;
}

.top-link-wrap .top-link > ul {
    float: right;
}

